/* CSS Reset */

#root {
	--clr-primary: hsl(240, 5%, 96%);
	--clr-secondary: hsl(269, 79%, 55%);
	--clr-neutral: white;
	--button-accent: hsl(269, 87%, 63%);
	--clr-operand: hsl(251, 20%, 69%);
	--operand-accent: hsl(251, 12%, 73%);

	--fc-black: black;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: normal;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	background: var(--clr-neutral);
}

button {
	border-radius: 48px;
	border: none;
	font-family: inherit;
	background-color: var(--clr-neutral);
	cursor: pointer;
	font-size: 2rem;
}
button:hover {
	background-color: var(--clr-secondary);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* Classes */

.container {
	margin: 0 auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	padding-bottom: 2rem;
}

.operand-box {
	grid-column: 1 / -1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px;
	word-wrap: break-word;
	word-break: break-all;
}

.first-operand {
	font-size: 2.5rem;
}

.previous-operand {
	font-size: 1.2rem;
	color: var(--clr-operand);
}

.calculator-grid {
	border-radius: 10px;
	background-color: var(--clr-primary);
	padding: 20px;
	display: grid;
	gap: 7px;
	grid-template-columns: repeat(4, 5rem);
	grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}

.span-two {
	grid-column: span 2;
	background-color: var(--clr-secondary);
}

.span-two:hover {
	background-color: var(--button-accent);
}

.operation-type {
	background-color: var(--clr-operand);
	padding-bottom: 5px;
}

.operation-type:hover {
	background-color: var(--operand-accent);
}
